.error {
  position: fixed;
  height: 60%;
  width: 60%;
  top: 20%;
  left: 20%;

  background-color: tomato;
  color: ivory;
  border-radius: 50px;

  align-items: center;
  justify-content: center;
}

.err {
  font-size: 50px;
  text-decoration: underline;
  text-align: center;
}

.err-mes {
  text-align: center;
  font-size: 25px;
}