.levels-v {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;

    background-color: ivory;
    border-radius: 50px;
}

.levels-h {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
    left: 0;
}   
.level-h.a {
    top: 0;
}
.levels-h.b {
    top: 50%;
}

.level {
    height: 80%;
    width: 20%;
    margin-left: 10%;
    margin-top: 2.5%;

    background-color: darkgreen;
    border-radius: 15px;
    color: wheat;
    text-align: center;

    transition: transform 0.5s ease;
}
.level.not {
    background-color: mediumseagreen;
}
.level:hover {
    transform: scale(1.05);
}

.lvl-title {
    font-size: 40px;
}

.lvl-completed {
    font-size: 25px;
}

.next-pg {
    position: fixed;
    width: 5%;
    aspect-ratio: 1/1;
    top: 45%;

    border-radius: 50%;
    background-color: ivory;
    border: transparent;
    font-size: 25px;

    transition: transform 0.5s ease;
}
.next-pg.r {
    right: 2.5%;
}
.next-pg.l {
    left: 2.5%
}
.next-pg:hover {
    transform: scale(1.1);
}
