.login {
    position: fixed;
    height: 80%;
    width: 80%;
    top: 10%;
    left: 10%;

    background-color: ivory;
    border-radius: 50px;
    color: darkviolet;
    -webkit-text-stroke: 1px black;
}

.title {
    font-size: 50px;
    text-decoration: underline;
    text-decoration-color: darkviolet;
}

.userpass-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.userpass-text {
    font-size: 25px;
    margin-right: 10px;
}

.userpass {
    width: 50%;
    font-size: 20px;
    padding: 10px;

    border: 2px solid black;
    border-radius: 10px;
    background-color: violet;
    color: ivory;
    -webkit-text-stroke: 0;
}

.go-to-create {
    -webkit-text-stroke: 0;
    text-decoration: underline;
    font-size: 20px;

    transition: transform 0.5s ease;
}
.go-to-create:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.log-btn {
    position: absolute;
    height: 10%;
    width: 40%;
    bottom: 7.5%;
    left: 30%;

    background-color: violet;
    border: transparent;
    border-radius: 15px;
    -webkit-text-stroke: 0;
    color: ivory;
    font-size: 25px;

    transition: transform 0.5s ease;
}
.log-btn:hover {
    transform: scale(1.1);
}
