.full-framework {
    position: fixed;
    height: 100%;
    width: 100%;
    top: var(--top-num);
    left: 0;

    transform: scale(var(--in-out-num));
    
    transition: transform 5s ease, top 5s ease;
    z-index: -100;
}
.full-framework.moving {
    transform: scale(var(--in-out-num));
    top: var(--top-num);
}

.in-out-btn {
    position: fixed;
    height: 7.5%;
    width: 15%;
    top: 5%;
    left: 42.5%;

    border-radius: 15px;
    background-color: darkorchid;
    border-color: transparent;
    color: ivory;
    font-size: 30px;

    transition: transform 0.5s ease;
}
.in-out-btn:hover {
    transform: scale(1.05);
}

.framework-box {
    position: fixed;
    height: 67.5%;
    width: 120%;
    top: 15%;
    left: -10%;

    transition: box-shadow 0.5s ease;
}
.framework-box:hover {
    box-shadow: 0 0 10px 5px orchid, inset 0 0 10px 5px orchid;
}