.grid-container {
    position: fixed;
    height: 90%;
    aspect-ratio: 1/1;
    top: 5%;
    right: 5%;

    background-color : ivory;
    border-radius: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    gap: 10px;
    margin-top: 10%;
    margin-left: 10%;
}

.cell {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.cell.start {
    background: darkgreen;
}

.cell.end {
    background: darkred;
}

.cell.obstacle {
    background: black;
}

.cell.empty {
    background: lightgray;
}

.cell.wire {
    background: darkblue;
}

.t-fw {
    position: fixed;
    width: 40%;
    height: auto;
    left: 5%;
    top: 5%;
}

.back-btn {
    position: fixed;
    width: 15%;
    height: 10%;
    top: 40%;
    left: 22.5%;
    transform: rotate(-10deg);

    background-color: #242424;
    border-radius: 10px;
    border: transparent;
    color: ivory;
    font-size: 40px;

    transition: transform 0.5s ease;
}
.back-btn:hover {
    transform: rotate(-10deg) scale(1.1);
}
