.grid-container {
    position: fixed;
    height: 90%;
    aspect-ratio: 1/1;
    top: 5%;
    right: 5%;

    background-color : ivory;
    border-radius: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    gap: 10px;
    margin-top: 10%;
    margin-left: 10%;
}

.cell {
    width: 75px;
    height: 75px;
    border-radius: 10px;
}

.cell.start {
    background: darkgreen;
}

.cell.end {
    background: darkred;
}

.cell.obstacle {
    background: black;
}

.cell.empty {
    background: lightgray;
}

.cell.wire {
    background: darkblue;
}
